.user-logins-container {
  margin: auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width:20%;
}

.user-logins-table-container {
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}
.paginator{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.user-logins-table {
  width: 100%;
  border-collapse: collapse;
}

.user-logins-table th,
.user-logins-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.user-logins-table th {
  background-color: #f5f5f5;
}

.user-logins-table th.mat-sort-header-sorted,
.user-logins-table th.mat-sort-header-sorted:hover {
  background-color: #f0f0f0;
}

.mat-form-field {
  width: 100%;
}

.mat-card-content {
  padding: 0;
}
