<div class="auth-container">
  <div class="auth-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="fs-13px">
      <div class="form-wrapper">
        <div class="form-floating ">
          <input type="text" class="form-control h-45px fs-13px" placeholder="Email Address" id="emailAddress" formControlName="userName">
        </div>
        <div *ngIf="f['userName'].touched && f['userName'].errors" class="error-wrapper">
          <p *ngIf="f['userName'].errors['required']">Email is required</p>
          <p *ngIf="f['userName'].errors['email']">Email is invalid</p>
        </div>
      </div>
      <div class="form-floating mt-3">
        <input type="password" class="form-control h-45px fs-13px" placeholder="Password" id="password" formControlName="password">
      </div>
      <div *ngIf="f['password'].touched && f['password'].errors" class="error-wrapper">
        <p *ngIf="f['password'].errors['required']">Password is required</p>
      </div>
      <div class="mb-3 mt-5">
        <button type="submit" [disabled]="form.invalid"  class="btn btn-success d-block h-45px w-100 btn-lg fs-14px">Sign me in</button>
      </div>
      <hr class="bg-gray-600 opacity-2">
      <div class="text-gray-600 text-center mb-0">
        &copy; UsersApp Zentury All rights reserved 2022
      </div>
    </form>
  </div>
</div>
