<div class="auth-container">
  <div class="auth-content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="fs-13px">
      <div class="form-wrapper">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Username</mat-label>
          <input matInput type="text" placeholder="Username" formControlName="userName">
          <mat-error *ngIf="f['userName'].touched && f['userName'].hasError('required')">Username is required</mat-error>
          <mat-error *ngIf="f['userName'].touched && f['userName'].hasError('userName')">Username is invalid</mat-error>
        </mat-form-field>
      </div>
      <div class="form-wrapper mt-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="f['password'].touched && f['password'].hasError('required')">Password is required</mat-error>
          <!-- <mat-error *ngIf="f['password'].errors?.pattern">Password must contain at least 1 capital letter and 1 number</mat-error> -->
          <mat-error *ngIf="f['password'].errors?.minlength">Password must be at least 6 characters</mat-error>
        </mat-form-field>
      </div>
      <div *ngIf="invalidLogin" class="error-message">
        {{ errorMessage }}
      </div>
      <div class="mb-3 mt-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" class="d-block h-45px w-100 btn-lg fs-14px">Sign me in</button>
      </div>
      <hr class="bg-gray-600 opacity-2">
      <div class="text-gray-600 text-center mb-0">
        &copy; UsersApp Zentury All rights reserved 2023
      </div>
    </form>
  </div>
</div>
