.dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
  }
  
  .form-field {
    width: 100%;
    margin: 10px 0;
  }
  